
<h1>My bought things</h1>

<% sum.forEach(element => { %>
    <h2>Total cost : <%= element.total %> </h2>
<% }); %>

<a href="/additem">Add items</a>

<table>
    <tr>
        <th>Item</th>
        <th>Cost</th>
        <th>Date</th>
        <th>itemdelete</th>
    </tr>


    <% itemfind.forEach(element => { %>
        <tr>
            <td><%= element.item %></td>
            <td class="cost"><%= element.cost %> $</td>
            <td><%= element.date %></td>
            <td><a href="/deleteitem/:<%= element._id %>">delete</a></td>
        </tr>
    <% }); %> 
</table>
